<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscarMedico(input.value)" type="text" name="buscar" class="form-control" placeholder="Buscar Medico">



      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="cargado">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center" role="alert">
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargado">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Medicos Registrados (
          <small>{{ totalRegistros }}</small> )
          <button [routerLink]="['/medico','nuevo']" type="button" class="btn waves-effect waves-light btn-primary btn-rounded float-right">
            <i class="fa fa-plus"></i>
            Crear medico</button>
        </h3>

        <table class="table">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Medico</th>
              <th>Hospital</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos">
              <td scope="row" class="w70">
                <img (click)="mostrarModal(medico._id)" [src]="medico.img | imagen:'medico'" class="pointer img-50 img-circle" data-toggle="tooltip"
                  data-placement="left" data-title="Cambiar imagen">
              </td>
              <td scope="row">
                {{medico.nombre}}

              </td>
              <td scope="row">
                {{medico.hospital.nombre}}

              </td>

              <td scope="row">
                <button [routerLink]="['/medico',medico._id]" class="btn btn-primary" btn-lg btn-block>


                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="borrarMedico(medico)" class="btn btn-danger" btn-lg btn-block>
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="input-group">
          <div class="input-group-append">
            <button (click)="cambiarDesde(-5)" [hidden]="bloqueaBoton" type="button" class="btn btn-secondary">Anteriores</button>
            <button (click)="cambiarDesde(5)" [hidden]="bloqueaBoton" type="button" class="btn btn-secondary">Siguientes</button>


          </div>

        </div>

      </div>
    </div>
  </div>
</div>
